.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #00000078;
  width: 100%;
  height: 100%;
  z-index: 1;
}


