.profile {
  margin: 0 auto;
  display: flex;
  max-width: 880px;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
}
