.card {
  border-radius: 10px;
  background-size: contain;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 282px;
  justify-self: center;
  position: relative;
}
