.popup__input-name {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 27px;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .popup__input-name {
    min-height: 30px;
  }
}

/* .popup__input-name:nth-child(2) {
  margin-bottom: 48px;
} */

/* .popup__input-name:invalid {
  border-bottom: 1px solid #FF0000;
} */
