.profile__button-full {
  background-image: url(../../../image/ButtonOpenPopupAdd.svg);
  width: 150px;
  height: 50px;
  border: 0;
  padding: 0;
  background-color: black;
  background-size: cover;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__button-full {
    background-image: url(../../../image/ButtonOpenPopupAddMobile.svg);
    width: 282px;
    height: 50px;
  }
}

.profile__button-full:hover {
  opacity: 0.6;
}
